venv
controle_ifto/migrations
controle_ifto/dados_conexao.json
controle_acesso/settings.py
controle_ifto/__pycache__/
controle_acesso/__pycache__/
gerenciar_controle_ifto/__pycache__/
controle_ifto/migrations/
controle_acesso/migrations/
gerenciar_controle_ifto/migrations/
