{% include "base/cabecalho.html" %}
{% load static %}
{% load crispy_forms_tags %}

<div id="alinhar_listagens">
    <h1 id="h1_title">Histórico de Acesso ao IFTO</h1>
    <hr/>
    <form method="POST">
      {% csrf_token %}
      {% crispy form %}
    </form>
    <hr/>
    

    <table class="table table-striped">
        <thead style="text-align: center">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Data de Acesso</th>
            <th scope="col">Tag RFID</th>
            <th scope="col">Nome(ID)</th>
            <th scope="col">Função</th>
          </tr>
        </thead>
        <tbody>
            {% for acesso in acessos %}
                <tr>
                    <th scope="row">{{ acesso.id }}</th>
                    <td id="centralize_info">{{ acesso.data_acesso }}</td>
                    <th scope="row">{{ acesso.cod_rfid.tag_rfid_value }}</th>
                    <td id="centralize_info">{{ acesso.cod_pessoa.nome }} {{ acesso.cod_pessoa.sobrenome }}<b> ({{ acesso.cod_pessoa.id }})</b></td>
                    <td id="centralize_info">{{ acesso.funcao_pessoa.descricao }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

    </div>
</div>
{% include "base/final.html"%}