{% include "base/cabecalho.html" %}
{% load static %}
{% load crispy_forms_tags %}

<div id="alinhar_listagens">
    <h1 id="h1_title">Listagem de Pessoas</h1>
    <hr/>
    <form method="POST">
        {% csrf_token %}
        {% crispy form %}
    </form>
    <hr/>
    
    <table class="table table-striped">
        <thead style="text-align: center">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">CPF</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Idade</th>
            <th scope="col">Função</th>
            <th scope="col">RFID Vinculado (ID)</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
            {% for pessoa in pessoas %}
                <tr>
                    <th scope="row">{{ pessoa.id }}</th>
                    <td scope="row">{{ pessoa.nome }} {{ pessoa.sobrenome }}</th>
                    <td scope="row">{{ pessoa.cpf }}</th>
                    <td scope="row">{{ pessoa.data_nascimento }}</th>
                    <td scope="row">{{ pessoa.idade }}</th>
                    <td scope="row">{{ pessoa.cod_Papel_pessoa.descricao }} </td>
                    {% if pessoa.cod_Rfid.tag_rfid_value == None%}
                        <td scope="row">-</th>
                    {% else %}
                        <td scope="row">{{ pessoa.cod_Rfid.tag_rfid_value }} <b>({{ pessoa.cod_Rfid.id }})</b></td>
                    {% endif %}

                    <td id="centralize_info">
                        <a href="{% url "editar_Pessoa" pessoa.id%}">
                            <img src="{% static "images/icones/editar.png" %}" width="18px" alt="">
                        </a>
                        {% if pessoa.vinculado == False %}
                            <a href="{% url "vincular_rfid_pessoa" pessoa.id%}">
                                <img src="{% static "images/icones/vincular.png" %}" width="18px" alt="">
                            </a>
                        {% endif %}
                        {% if pessoa.vinculado == True %}
                            <a href="{% url "desvincular_rfid_pessoa" pessoa.id%}">
                                <img src="{% static "images/icones/desvincular.png" %}" width="18px" alt="">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      <div class="botao_cadastrar_nas_listagens">
          <a href="{% url "cadastro_pessoa" %}">
              <button type="submit" class="btn btn-success">Cadastrar</button>
          <a>
      </div>
    </div>
</div>

{% include "base/final.html"%}