{% include "base/cabecalho.html" %}

<div class="flex-shrink-0 p-3" style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1"><a href="{% url "homepage" %}">Inicio</a></li>
        <li class="mb-1"><a href="#">Cadastros</a>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url "cadastro_pessoa" %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Pessoas</a></li>
                    <li><a href="{% url "cadastro_tagRfid" %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Tags RFID</a></li>
                    <li><a href="{% url "cadastro_funcao" %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Funcao</a></li>
                    <li><a href="{% url "cadastro_corRfid" %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Cor RFID</a></li>
                    <li><a href="{% url "cadastro_usuario" %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Usuarios</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1"><a href="#">Visualização</a>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url "visualizar_pessoa" %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Pessoas</a></li>
                    <li><a href="{% url "visualizar_tagRfid" %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Tags RFID</a></li>
                    <li><a href="{% url "visualizar_funcao" %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Função</a></li>
                    <li><a href="{% url "visualizar_corRfid" %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Cor RFID</a></li>
                    <li><a href="{% url "visualizar_usuario" %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Usuarios</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1"><a href="{% url "historico_acesso_ifto" %}">Histórico de Acesso</a></li>
    </ul>
</div>