{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav_bar_navegation_iftoAcess">
    <div id="nav_bar_navegation_iftoAcess_brand">
        <a class="navbar-brand" href="{% url "homepage" %}">
            <img src="{% static "images/svg_nome_sistema/name_system.svg" %}">
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cadastros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url "cadastro_pessoa" %}">Pessoas</a>
                <a class="dropdown-item" href="{% url "cadastro_tagRfid" %}">Tags RFID</a>
                <a class="dropdown-item" href="{% url "cadastro_funcao" %}">Funcao</a>
                <a class="dropdown-item" href="{% url "cadastro_corRfid" %}">Cor RFID</a>
                <a class="dropdown-item" href="{% url "cadastro_usuario" %}">Usuarios</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Visualização
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url "visualizar_pessoa" %}">Pessoas</a>
                <a class="dropdown-item" href="{% url "visualizar_tagRfid" %}">Tags RFID</a>
                <a class="dropdown-item" href="{% url "visualizar_funcao" %}">Função</a>
                <a class="dropdown-item" href="{% url "visualizar_corRfid" %}">Cor RFID</a>
                <a class="dropdown-item" href="{% url "visualizar_usuario" %}">Usuarios</a>
            </div>
        </li>

        <li class="nav-item active"></li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url "historico_acesso_ifto" %}">
                    Histórico de Acesso
                </a>
              </li>
        </li>
        

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Desativado</a>
        </li>

      </ul>

      
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{% static "images/logo_iftoAcess.png"%}" width="45px"> Olá, {{ nome_usuario_logado }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Configurações</a>
                <a id="logoff_usuario" class="dropdown-item" href="#">Sair</a>
            </div>
          </li>
        <ul>
      </form>
      
    </div>
  </nav>