@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap'); /*  Fonte: JerSey15    */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap'); /*    Fonte: Instrument Sans    */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html{
    margin: 0;
}

label{
    font-size: 18px !important;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


#nav_bar_navegation_iftoAcess{
    background-color: #47AC4B !important;
    font-size:20px !important;
    font-weight: 700;
}
    #nav_bar_navegation_iftoAcess_brand{
        width: auto !important;
        align-items: center !important;
        font-family: "Jersey 25", sans-serif;
        font-size: 40px;
        color: black;
    }

hr{
    width: 90% !important;
    background-color: #000000 !important;
    height: 2px !important;
}

/*          Títulos de formularios         */

#container_formulario{
    background-color: #f0f0f0;
    border-radius: 7px;
    box-shadow: 0px 0px 4px black;
}


#h1_title {
    margin-top: 25px;
    font-family: "Instrument Sans", sans-serif !important;
    font-size: 40px !important;
    font-weight: 900 !important;
}


/*      Botão "Cadastrar" em listagens    */

.botao_cadastrar_nas_listagens{
    margin-top: 10px;
    align-items: left;
    text-align: left !important;
}
    .botao_cadastrar_nas_listagens button:hover{
        background-color: #316033;
    }


/*      Botão "Salvar" em Cadastros e Edicao    */

#botao_salvar{
    font-size: 20px !important;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    background-color: #316033;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#botao_salvar div{
    background-color: red;
    align-items: center;
}

/*      Botão "Ler RFID" em Cadastros RFID    */

#botao_ler_rfid button{
    background-color: #EB3232;
    align-self: center;
}

/*      Menu de usuario em NAV-BAR    */

#usuario_login{
    font-size: 16px !important;
}

#logoff_usuario{
    background-color: rgb(223, 0, 0);
    color: white;
    font-weight: 600;
}
    #logoff_usuario:hover{
        background-color: rgb(156, 25, 25);
    }



/*  Cadastro de RFID, Funcao, Pessoa,    */

/*#align_cadastros{
    background-color: #f0f0f0;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column;
    justify-items: center !important;
    align-items: center !important;
    text-align: center !important;
    
}*/



#div_form_cad_rfid, #div_form_cad_Funcao, #div_form_cad_corRfid, #div_form_cad_pessoa{
    width: 75%;
    margin-bottom: 20px;
    margin: auto;
}

    #formulario_cadastro_rfid, #formulario_cadastro_Funcao, #formulario_cadastro_corRfid, #formulario_cadastro_pessoa{
        max-width: 95% !important;
    }


/*       Listagens       */

#alinhar_listagens{
    background-color: #eeeeee;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column;
    justify-items: center !important;
    align-items: center !important;
    text-align: center !important;
}