@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap'); /*  Fonte: JerSey15    */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap'); /*    Fonte: Instrument Sans    */

html{
    margin: 0;
}


#nav_bar_navegation_iftoAcess{
    background-color: #47AC4B !important;
    font-size:20px !important;
    font-weight: 700;
}
    #nav_bar_navegation_iftoAcess_brand{
        width: auto !important;
        align-items: center !important;
        font-family: "Jersey 25", sans-serif;
        font-size: 40px;
        color: black;
    }

hr{
    width: 90% !important;
    background-color: #000000 !important;
    height: 2px !important;
}

/*      Botão "Cadastrar" em listagens    */

.botao_cadastrar_nas_listagens{
    margin-top: 10px;
    align-items: left;
    text-align: left !important;
}
    .botao_cadastrar_nas_listagens button:hover{
        background-color: #316033;
    }

/*      Menu    */

#usuario_login{
    font-size: 16px !important;
}

#logoff_usuario{
    background-color: rgb(223, 0, 0);
    color: white;
    font-weight: 600;
}
    #logoff_usuario:hover{
        background-color: rgb(156, 25, 25);
        
    }

/*          Botão Salvar            */

.botao_salvar{
    align-self: left !important;
}

/*  Cadastro de RFID, Funcao, Pessoa,    */

#align_cadastros{
    background-color: #f0f0f0;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column;
    justify-items: center !important;
    align-items: center !important;
    text-align: center !important;
    
}
    #align_cadastros form button{
        background-color: #316033;
        align-self: center;
    }

#alinhar_listagens{
    background-color: #f0f0f0;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column;
    justify-items: center !important;
    align-items: center !important;
    text-align: center !important;
}
    

#h1_title, #h1_title, #h1_title, #h1_title{
    margin-top: 30px !important;
    font-family: "Instrument Sans", sans-serif !important;
    font-size: 40px !important;
    font-weight: 900 !important;
}

#div_form_cad_rfid, #div_form_cad_Funcao, #div_form_cad_corRfid, #div_form_cad_pessoa{
    background-color: #E8E8E8;
    min-width: 600px;
    width: 80%;
    border-radius: 7px;
    box-shadow: 0px 0px 4px black;
    margin-bottom: 15px;
}

    #formulario_cadastro_rfid, #formulario_cadastro_Funcao, #formulario_cadastro_corRfid, #formulario_cadastro_pessoa{
        max-width: 95% !important;
    }
        #botao_salvar_rfid, #botao_salvar_Funcao, #botao_salvar_corRfid, #botao_salvar_pessoa{
            background-color: #316033;
            font-weight: 900 !important;
            align-content: left !important;
        }
        #botao_salvar_rfid:hover, #botao_salvar_Funcao:hover, #botao_salvar_corRfid:hover, #botao_salvar_pessoa:hover button{
            background-color: #1f4721;
        }