/*          LOGIN           */

html, body, form{
    background-color: #f0f0f0;
}

form{
    margin: auto;
    width: 350px;
    text-align: center;
    border: #000;
    border-style:double;
    border-width: 5px;
    box-shadow: #000 0px 0px 15px;
}

#botao_entrar{
    margin-top: 15px;
    width: 200px;
    background-color: #316033;
}

form div div input{
    align-items: center;
}

img{
    margin: 15px;
}