{% include "base/cabecalho.html" %}

<br><br><br>

<div id="align_cadastros">
    <h1 id="h1_title">Cadastro de Funcao</h1>
    <hr/>
    <br><br>

    <div id="div_form_cad_Funcao">
        <form method="POST" id="formulario_cadastro_Funcao">
            {% csrf_token %}
            <br><br>

            <div class="form-group row">
                <label for="descricao_funcao" class="col-sm-2 col-form-label">Descrição:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="descricao_funcao" id="descricao_funcao" placeholder="Ex.: Aluno" required>
                </div>
            </div>

            <div class="botao_salvar_Funcao">
                <button type="submit" class="btn btn-success">Salvar</button>
            </div>
            <br><br>
        </form>
    </div>
</div>

{% include "base/final.html"%}