{% include "base/cabecalho.html" %}
{% load crispy_forms_tags %}

<br><br><br>
<div id="container_formulario">
    <center>
        <div id="div_title">
            <h1 id="h1_title">{{ title }}</h1>
            <hr/>
        </div>
    </center>
    <br><br>
    <div id="div_form_cad_rfid">
        <form class method="POST" id="">
            {% crispy form %}
        </form>
    </div>
    <div id="botao_salvar">
        <button type="submit" class="btn btn-success">Salvar</button>
    </div>
</div>
{% include "base/final.html"%}