{% include "base/cabecalho.html" %}
{% load static %}

<div id="alinhar_listagens">
    <h1 id="h1_title">Listagem de Tags RFID</h1>
    <hr/>
    

    <table class="table table-striped">
        <thead style="text-align: center">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tag Rfid</th>
            <th scope="col">Funcão</th>
            <th scope="col">Ativo</th>
            <th scope="col">Data de Desativação</th>
            <th scope="col">Motivo da desativação</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
            {% for tagRfid in tagsRfid %}
                <tr>
                    <th scope="row">{{ tagRfid.id }}</th>
                    <td id="centralize_info">{{ tagRfid.tag_rfid_value }}</td>
                    <td>{{ tagRfid.cod_corRFID_funcao.cod_cargo.descricao }}</td>
                    {% if tagRfid.ativo == True %}
                        <td id="centralize_info">Sim</td>
                    {% else %}
                        <td id="centralize_info">Não</td>
                    {% endif %}

                    {% if tagRfid.data_desativacao == None %}
                    <td id="centralize_info"> - </td>
                    {% else %}
                        <td id="centralize_info">{{ tagRfid.data_desativacao }}</td>
                    {% endif %}

                    {% if tagRfid.motivo_desativacao == None or tagRfid.motivo_desativacao == ""%}
                        <td id="centralize_info">-</td>
                    {% else %}
                        <td>{{ tagRfid.motivo_desativacao }}</td>
                    {% endif %}

                    <td id="centralize_info">
                            <a href="{% url "editar_tagRfid" tagRfid.id%}">
                                <img src="{% static "images/icones/editar.png" %}" width="16px" alt="">
                            </a>
                            <a href="#">
                                <img src="{% static "images/icones/excluir.png" %}" width="16px" alt="">
                            </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

    </div>
</div>

{% include "base/final.html"%}